$gutter: 20%;

//Colunas: -------------------------
.col, .servicos article{
  margin:auto;
  vertical-align: top;
  display: inline-block;
  width:100%;

 img{
   max-width:100%;
 }
}//FIM colunas;

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
   content: "";
   display: table;
   clear: both;
  }

$cor-1: #5e8ad1;
$cor-2: lighten( $cor-1, 10%);
$cor-3: darken( $cor-1, 12%);
$cor-4: lighten($cor-2, 10%);
$cor-5: #F2845C;
