<h1>Alterar  Publicação</h1>

  
<form method="post" action="?pagina=admin&metodo=update">
	<span>Título</span><br>
	<input type="text" name="titulo" value="{{titulo}}"><br><br>
   
	<span>Conteúdo</span><br>
	<textarea name="conteudo" cols="40" rows="5">{{conteudo}}</textarea><br><br>
   
     <input type="hidden" name="id" value="{{id}}">
     
	<input type="submit"  value="Alterar">
</form>


<!--Os parametros {{titulo}} e {{conteudo}} são do método change do arquivo AdminController.php -->

<!--Os dados correspondente titulo e conteudo com a  id serão inseridos na página update para serem alterados-->

<!--O parametro name serve para recuperar o valor q o usuario  for digitar-->

<!--Aqui ele completa a url do link (criar publicação) do arquivo admin.html-->